* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2em auto;
  font-size: 16px;
  padding: 0 2em;
  max-width: 90ch;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; 
}

a {
  color: #005386;
}

header {
  margin-bottom: 1em;
}

img, video {
  max-width: 100%;
  height: auto;
  margin: 0.3em 0;
}

hr {
  margin: 1em auto;
  border: none;
  border-top: 1px solid #ddd;
}

pre {
  background: #f6f8fa;
  border: 1px solid #dddddd;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto;
  border-radius: 5px;
  font-size: 85%;
}

code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

h2 {
  font-size: 1.3em;
  margin: 1em 1ex 0.5ex 0; 
}

ul, ol {
  padding-left: 15px;
}

.shell {
  font-size: 0.9em;
  border-radius: 5px;
  padding: 1em;
}
